/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
@font-face {
  font-family: 'Huxiaobo';
  src: url('../fonts/huxiaobo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Huxiaobo", Arial;
  font-weight: normal;
  color: #444444;
  text-decoration: none;
  list-style: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-text-size-adjust: none;
}
*:focus {
  outline: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.cl {
  clear: both;
}
.show {
  display: block;
}
.orange {
  color: #ff7e00;
}
.gray {
  color: #888888;
}
.hide {
  display: none;
}
.border {
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}
.bg-white {
  background: #ffffff;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
}
body {
  -webkit-overflow-scrolling: touch;
}
#toast-out-border {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1000000;
}
#toast-out-border .toast-border {
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 640px;
  text-align: center;
  height: 50px;
}
#toast-out-border .toast-border .toast-content {
  border-radius: 10px;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  background: #444444;
  color: #ffffff;
  font-size: 24px;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide {
  display: none !important;
}
ng\:form {
  display: block;
}
.ng-animate-start {
  clip: rect(0, auto, auto, 0);
  -ms-zoom: 1.0001;
}
.ng-animate-active {
  clip: rect(-1px, auto, auto, 0);
  -ms-zoom: 1;
}
body {
  background: #151621;
}
.container {
  width: 640px;
  height: 100%;
  margin: 0 auto;
  font-family: "Huxiaobo";
  background: #151621;
  display: block;
  zoom: 1;
}
.container:before,
.container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}
.container .button {
  background: url("../images/wap/button_bg.png") no-repeat;
  width: 244px;
  height: 84px;
  display: inline-block;
  line-height: 84px;
  font-size: 30px;
}
.container .button span {
  color: #D1B990;
  float: right;
  width: 160px;
  text-align: center;
}
.container .redirect-back {
  width: 72px;
  height: 21px;
  position: fixed;
  background: url("../images/wap/redirect_back.png") no-repeat;
  top: 10px;
  left: 10px;
}
.container .activity-rule {
  width: 55px;
  height: 165px;
  background: url("../images/wap/rule_bg.png") no-repeat;
  position: fixed;
  top: 10px;
  right: 0;
}
.container .banner-content {
  color: #AD8562;
  font-size: 48px;
  display: inline-block;
  margin: 64px 0 0 243px;
  word-spacing: 30px;
  letter-spacing: 15px;
}
.container .page-index {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url("../images/wap/index_bg.png") no-repeat left -128px;
}
.container .page-index .button-container {
  margin: 778px 0 35px 0;
}
.container .page-index .button-container .section {
  text-align: center;
  margin: 28px 0 0 0;
  width: 100%;
}
.container .page-index .button-container .section .button {
  margin: 0 14px 0 14px;
}
.container .page-wish-list {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
  background: url("../images/wap/common_banner.png") no-repeat left top;
}
.container .page-wish-list .wish-container {
  display: inline-block;
  margin: 162px 0 0 44px;
  width: 556px;
  position: relative;
}
.container .page-wish-list .wish-container .header {
  position: relative;
  width: 100%;
}
.container .page-wish-list .wish-container .header .tab {
  border: 2px #AD8562 solid;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -webkit-border-top-left-radius: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomright: 20px;
  -moz-border-radius-bottomleft: 20px;
  -moz-border-radius-topleft: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 274px;
  height: 81px;
}
.container .page-wish-list .wish-container .header .tab.left {
  position: absolute;
  left: 0;
  top: 0;
}
.container .page-wish-list .wish-container .header .tab.right {
  position: absolute;
  right: 0;
  top: 0;
}
.container .page-wish-list .wish-container .header .tab span {
  width: 100%;
  text-align: center;
  color: #AD8562;
  font-size: 30px;
  display: block;
  line-height: 50px;
}
.container .page-wish-list .wish-container .header .tab.active {
  background: #AD8562;
}
.container .page-wish-list .wish-container .header .tab.active span {
  color: #22212A;
}
.container .page-wish-list .wish-container .body {
  position: relative;
  border: 2px solid #AD8562;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -webkit-border-top-left-radius: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomright: 20px;
  -moz-border-radius-bottomleft: 20px;
  -moz-border-radius-topleft: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  top: 50px;
  background: #151621;
  padding: 47px 0;
  width: 552px;
  max-height: 652px;
  overflow: scroll;
}
.container .page-wish-list .wish-container .body .item {
  background: url("../images/wap/item_bg.png") bottom center no-repeat;
  display: inline-block;
  padding: 0 0 20px 0;
  width: 540px;
}
.container .page-wish-list .wish-container .body .item .left {
  color: #FFFEFE;
  font-size: 20px;
  line-height: 35px;
  display: inline-block;
  float: left;
  width: 434px;
  margin: 0 0 0 26px;
}
.container .page-wish-list .wish-container .body .item .left .title {
  width: 100%;
  display: inline-block;
}
.container .page-wish-list .wish-container .body .item .left .title .name {
  float: left;
  color: #FFFEFE;
}
.container .page-wish-list .wish-container .body .item .left .title .mobile {
  float: right;
  color: #FFFEFE;
}
.container .page-wish-list .wish-container .body .item .left .content {
  width: 100%;
  display: inline-block;
  color: #FFFEFE;
}
.container .page-wish-list .wish-container .body .item .right {
  float: right;
  width: 50px;
  display: inline-block;
  margin: 25px 10px 0 0;
}
.container .page-wish-list .wish-container .body .item .right .good {
  display: block;
  width: 50px;
  height: 29px;
  background: url("../images/wap/good.png") no-repeat top center;
}
.container .page-wish-list .wish-container .body .item .right .num {
  display: block;
  color: #FFFEFE;
  margin-top: 6px;
  text-align: center;
}
.container .page-my-wish {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
  background: url("../images/wap/my_wish_bg.png") no-repeat left top;
}
.container .page-my-wish .my-wish-container {
  display: block;
  width: 100%;
  margin: 83px 0 0 0;
}
.container .page-my-wish .my-wish-container .section-1 {
  display: inline-block;
  width: 493px;
  margin: 40px 0 0 73px;
  color: #FFFEFE;
  font-size: 24px;
  line-height: 39px;
  height: 170px;
  overflow: scroll;
}
.container .page-my-wish .my-wish-container .section-1 .title {
  width: 100%;
  display: inline-block;
}
.container .page-my-wish .my-wish-container .section-1 .title .name {
  float: left;
  color: #FFFEFE;
}
.container .page-my-wish .my-wish-container .section-1 .title .mobile {
  float: right;
  color: #FFFEFE;
}
.container .page-my-wish .my-wish-container .section-1 .content {
  width: 100%;
  display: inline-block;
  color: #FFFEFE;
}
.container .page-my-wish .my-wish-container .section-2 {
  display: inline-block;
  margin: 380px 0 0 0;
  text-align: center;
  width: 100%;
}
.container .page-my-wish .my-wish-container .section-2 .middle {
  width: 50px;
  display: inline-block;
}
.container .page-my-wish .my-wish-container .section-2 .middle .good {
  display: block;
  width: 50px;
  height: 50px;
  background: url("../images/wap/good_big.png") no-repeat top center;
}
.container .page-my-wish .my-wish-container .section-2 .middle .num {
  display: block;
  margin-top: 6px;
  font-size: 26px;
  color: #D1B990;
}
.container .page-my-wish .my-wish-container .section-3 {
  display: inline-block;
  margin: 35px 0 0 0;
  text-align: center;
  width: 100%;
}
.container .page-my-wish .my-wish-empty-container {
  display: block;
  width: 100%;
  margin: 83px 0 0 0;
}
.container .page-my-wish .my-wish-empty-container .section-1 {
  display: inline-block;
  width: 493px;
  margin: 50px 0 0 73px;
  color: #FFFEFE;
  font-size: 24px;
  line-height: 39px;
}
.container .page-my-wish .my-wish-empty-container .section-1 p {
  color: #ffffff;
  text-align: center;
  font-size: 30px;
  line-height: 70px;
}
.container .page-my-wish .my-wish-empty-container .section-2 {
  display: inline-block;
  margin: 475px 0 0 0;
  text-align: center;
  width: 100%;
}
.container .page-reward-list {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
  background: url("../images/wap/common_banner.png") no-repeat left top;
}
.container .page-reward-list .reward-empty-container {
  display: inline-block;
  margin: 189px 0 0 80px;
  width: 490px;
  height: 511px;
  background: url("../images/wap/reward_content_bg.png") no-repeat center top;
}
.container .page-reward-list .reward-empty-container .content {
  display: block;
  margin: 80px 0 0 0;
  font-size: 28px;
}
.container .page-reward-list .reward-empty-container .content p {
  text-align: center;
  line-height: 50px;
  color: #D0B78D;
}
.container .page-reward-list .reward-empty-container .content p span {
  color: #D0B78D;
  border: 2px solid #D0B78D;
  display: inline-block;
  padding: 10px 10px 10px 10px;
  margin: 0 10px;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -webkit-border-top-left-radius: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomright: 20px;
  -moz-border-radius-bottomleft: 20px;
  -moz-border-radius-topleft: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.container .page-reward-list .reward-empty-container .content p span.date {
  letter-spacing: 7px;
}
.container .page-reward-list .reward-container {
  display: inline-block;
  margin: 189px 0 0 0;
  width: 100%;
}
.container .page-reward-list .reward-container .header {
  background: url("../images/wap/reward_banner_2.png") no-repeat left center;
  display: block;
}
.container .page-reward-list .reward-container .header p {
  font-size: 20px;
  color: #AD8562;
  line-height: 35px;
  text-align: center;
}
.container .page-reward-list .reward-container .body {
  border: 2px solid #AD8562;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -webkit-border-top-left-radius: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomright: 20px;
  -moz-border-radius-bottomleft: 20px;
  -moz-border-radius-topleft: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #151621;
  padding: 47px 0;
  width: 552px;
  display: block;
  margin: 18px 0 0 44px;
  max-height: 652px;
  overflow: scroll;
}
.container .page-reward-list .reward-container .body .item {
  background: url("../images/wap/item_bg.png") bottom center no-repeat;
  display: inline-block;
  padding: 0 0 20px 0;
  width: 540px;
}
.container .page-reward-list .reward-container .body .item .left {
  color: #FFFEFE;
  font-size: 20px;
  line-height: 35px;
  display: inline-block;
  float: left;
  width: 434px;
  margin: 0 0 0 26px;
}
.container .page-reward-list .reward-container .body .item .left .title {
  width: 100%;
  display: inline-block;
}
.container .page-reward-list .reward-container .body .item .left .title .name {
  float: left;
  color: #FFFEFE;
}
.container .page-reward-list .reward-container .body .item .left .title .mobile {
  float: right;
  color: #FFFEFE;
}
.container .page-reward-list .reward-container .body .item .left .content {
  width: 100%;
  display: inline-block;
  color: #FFFEFE;
}
.container .page-reward-list .reward-container .body .item .right {
  float: right;
  width: 50px;
  display: inline-block;
  margin: 25px 10px 0 0;
}
.container .page-reward-list .reward-container .body .item .right .good {
  display: block;
  width: 30px;
  height: 29px;
  background: url("../images/wap/good.png") no-repeat;
}
.container .page-reward-list .reward-container .body .item .right .num {
  display: block;
  color: #FFFEFE;
  margin-top: 6px;
}
.container .page-wish {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
  background: url("../images/wap/common_banner.png") no-repeat left top;
}
.container .page-wish .wish-container {
  display: inline-block;
  margin: 150px 0 0 0;
  width: 100%;
}
.container .page-wish .wish-container .header {
  background: url("../images/wap/reward_banner_2.png") no-repeat left center;
  display: block;
}
.container .page-wish .wish-container .header p {
  font-size: 30px;
  color: #AD8562;
  line-height: 35px;
  text-align: center;
}
.container .page-wish .wish-container .header p:last-child {
  font-size: 20px;
}
.container .page-wish .wish-container .body .input-group {
  margin: 20px 0 35px 0;
  text-align: center;
}
.container .page-wish .wish-container .body .input-group textarea,
.container .page-wish .wish-container .body .input-group input {
  border: 2px solid #AD8562;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -webkit-border-top-left-radius: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomright: 20px;
  -moz-border-radius-bottomleft: 20px;
  -moz-border-radius-topleft: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 30px;
  font-size: 20px;
  color: #ffffff;
  background: none;
  box-sizing: border-box;
}
.container .page-wish .wish-container .body .input-group textarea {
  width: 556px;
  height: 151px;
}
.container .page-wish .wish-container .body .input-group input {
  width: 556px;
  height: 71px;
}
.container .page-wish .wish-container .body .input-group label {
  font-size: 30px;
  color: #AD8562;
  display: block;
  text-align: center;
  margin: 0 0 13px 0;
}
.container .page-wish .wish-container .body .input-group .submit {
  margin-top: 64px;
}
.rule-content {
  font-size: 20px;
  line-height: 35px;
  color: #333333;
}
.rule-content p {
  margin-bottom: 30px;
}
.rule-content .rule-logo {
  height: 93px;
  width: 100%;
  background: url("../images/wap/rule_logo.png") no-repeat top center;
}
